.breadcrumbs {
  background: #5fcf80;
}
.breadcrumbs h2 {
  font-family: "Raleway", sans-serif;
}
.breadcrumbs p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.info i {
  font-size: 20px;
  color: #5fcf80;
  background: #ecf9f0;
  justify-content: center;
  align-items: center;
}
.contact .info h4 {
  padding-left: 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
  font-family: "Raleway", sans-serif;
}
.contact .info p {
  padding-left: 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}
#back-to-top i{
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  background: #29bd55;
  border-radius: 50px;
  font-size: 2rem;
}

#back-to-top:hover {
  opacity: 1;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form button[type="submit"] {
  background: #5fcf80;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 50px;
  color: #fff;
}
